
<div class="main-div" *ngFor="let slot of slots">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <label>Название</label>
        <input value="{{slot.title}}" class="form-control" name="title" matInput #title>
      </mat-card-title>
    </mat-card-header>
    <div  class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
         (onFileDropped)="uploadFile($event)">
      <input hidden type="file" accept="image/*" #fileInput (change)="uploadFile($event.target.files)">
    </div>
    <div class="container" style="width:300px">
      <owl-carousel [options]="carouselOptions" [items]="imgUrl">
        <div class="item" *ngFor="let image of imgUrl;let i= index">
          <app-image-loader class="slide-image" [image]="image"></app-image-loader>
        </div>
      </owl-carousel>
    </div>
    <div class="container" *ngIf="!imgUrl[0]" style="width:400px">
      <owl-carousel [options]="carouselOptions" [items]="slot.imageurl">
        <div class="item" *ngFor="let image of slot.imageurl;let i= index">
          <app-image-loader class="slide-image" [image]="image"></app-image-loader>
        </div>
      </owl-carousel>
    </div>
    <!--<img mat-card-image *ngIf="!imgUrl[0]" src="{{slot.imageurl}}" width="200px" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <br />
      <br />
      <input type="hidden" value="{{slot.id}}" #id />
      <label>Описание</label>
      <br />
      <textarea cols="60" rows="5" name="description" class="form-control" matInput #description>{{slot.description}}</textarea>
      <br />
      <label>Цена</label>
      <input value="{{slot.cost}}" name="цена" class="form-control" style="text-align:center" matInput #price>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btn btn-primary" (click)="updateslot(id.value,title.value,price.value,description.value)">Сохарнить</button>
    </mat-card-actions>
  </mat-card>
    </div>
