
<div class="main-div" *ngFor="let slot of slots ">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><p>{{slot.seller}}</p> </mat-card-title>
      <!--<div>
      <ngb-rating [max]="5" [formControl]="rate" (click)="changerate()" *ngIf="isauth"></ngb-rating>
    </div>-->
      <app-rating [sellerid]="slot.user_id" [readonl]="false" *ngIf="isauth"></app-rating>
    </mat-card-header>
    <div *ngIf="!checkdate(slot.startDate)">
      <span>До конца торгов осталось</span>
      <app-count-down [dDay]="nowdate" [dDayEnd]="slot.endDate"> </app-count-down>
    </div>
    <div *ngIf="checkdate(slot.startDate)">
      <span>До начала торгов осталось</span>
      <app-count-down [dDay]="nowdate" [dDayEnd]="slot.startDate"> </app-count-down>
    </div>
    <div class="container" style="width:400px">
        <owl-carousel [options]="carouselOptions" [items]="slot.imageurl">
          <div class="item" *ngFor="let image of slot.imageurl;let i= index">
            <app-image-loader class="slide-image" [image]="image"></app-image-loader>
          </div>
        </owl-carousel>
    </div>
      <mat-card-content>
        <div class="container">
          <input type="hidden" value="{{slot.id}}" #id />
          <div> Лот №{{slot.id}}</div>
          <div class="row">
            <label> Описание </label>
          </div>
          <div style="width:500px;">
            <p>
              {{slot.description}}
            </p>
          </div>
          <br />
          <label> Текущая цена </label>
          <input class="inpt" value="{{slot.cost}}" readonly name="цена" matInput #price>
          <label>Ваша цена</label>
          <input matInput type="number" value="{{slot.cost}}" #userprice /><lable>BUN</lable>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="takeslot(userprice.value)" *ngIf="!userslot(slot.user_id) && slot.status_id==1">Устновить цену</button>
      </mat-card-actions>
  </mat-card>
</div>
