.topnav{
    overflow: hidden;
    background-color: #333;

    a{
        float:left;
        color: #000;
        text-align: center;
      text-decoration: none;
      font-size: 17px;
    }
    &:hover{
        background-color: aqua;
color: black;
    }
    &:active{
        background-color:red;
        color: wheat;

    }
}
.footer-container {
  margin-top: 0px;
  text-align: center;
}
.footercolor{
 background-color:rgb(43, 80, 95);
}
.footer-content {
  margin: 0 auto;
  text-align: center;
}
.content-outer-container{
    min-height:99%;
    margin:0px;
}
.content-inner-container{
    padding-bottom:0px;
}
.example-card {
  max-width: 300px;
  float: left;
}
#clr{
background-color: white;
}
