<!--<div class="container">
  <div class="card mb-3" *ngFor=" let ord of orders">
    <app-count-down [dDay]="ord.startDate" [dDayEnd]="ord.endDate"> </app-count-down>
    <a href="/slotinfo/{{ord.id}}">
      <img class="card-img-top" src="{{ord.imageurl}}" alt="Card image cap">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{ord.seller}}</h5>
      <p class="card-text">{{ord.description}}</p>
      <p class="card-text">Текущая цена {{ord.cost}} RUB</p>-->
      <!--<p class="card-text">Ваша цена {{foo(ord.id)}} RUB </p>-->
      <!--<p class="card-text">Наибольшую цену дал <input  readonly id="{{ord.id}}"/> {{getmaxprice(ord.id)}} RUB </p>-->
      <!--<button class="btn-danger" (click)="RemoveOrder(ord)">Delete</button>
    </div>
  </div>-->
<!--</div>-->

<div class="main-div">
  <button class="btn btn-secondary" style="margin:2px" (click)="getByLots()"> Мои лоты </button>
  <button class="btn btn-secondary" style="margin:2px" (click)="getCreatedLots()"> Созданные лоты </button>
</div>
<div class="main-div" *ngFor="let ord of orders | filter:filterText;let i=index">
  <mat-card>
    <div class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Продавец:{{ord.seller}}</mat-card-title>
        <app-rating [sellerid]="ord.user_id" [readonl]="true"></app-rating>
      </mat-card-header>
      <div *ngIf="!checkdate(ord.startDate)">
        <span>До конца торгов осталось</span>
        <app-count-down [dDay]="nowdate" [dDayEnd]="ord.endDate"> </app-count-down>
      </div>
      <div *ngIf="checkdate(ord.startDate)">
        <span>До начала торгов осталось</span>
        <app-count-down [dDay]="nowdate" [dDayEnd]="ord.startDate"> </app-count-down>
      </div>
      <a href="/slotinfo/{{ord.id}}">
        <app-ngui>
          <img mat-card-image class="imgcard" *ngIf src="{{ord.imageurl}}" (click)="slotinfo(post.id)" alt="Photo of a Shiba Inu" />
        </app-ngui>
      </a>
    </div>
    <mat-card-content style="left:0px;">
      <p class="card-text" *ngIf="userPrice[i].ordprice!=null && !userslot(ord.user_id)">Вы поставили <span style="color:#531313">{{userPrice[i].ordprice.userprice}}</span></p>
      <p class="card-text" *ngIf="userPrice[i].user!=null">Наибольшую цену дал {{userPrice[i].user.email}}</p>
      <div style="width:500px;">
        <p>
          {{ord.description}}
        </p>
      </div>
      <p class="card-text">Текущая цена {{ord.cost}} RUB</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn-danger" *ngIf="!userslot(ord.user_id)" (click)="RemoveOrder(ord)">Delete</button>
      <button class="btn-danger" *ngIf="userslot(ord.user_id)" (click)="deleteslot(ord.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
  </div>
