 mat-card::ng-deep.mat-card-header-text {
    width: 100%;
  }

  .main-div{
    width: 800px;
    margin:auto;
    padding:10px;
  }
  .example-card {
    max-width: 700px;
    text-align:center;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  
    div {
      flex: 50%;
      padding: 10px;
    }
  }

   .outlook {
    color: black;
    background: rgba(0,0,0,0.1);
  }

   .temp {
    background: lightblue;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .big-text {
    font-size: 30px;
}

.image {
    height: 100px;
}
.price{
    margin-top: 10px;
}
.content{
    margin-left: auto;
    margin-right: auto;
}

.uploadfilecontainer {
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    height: 120px;
    width: 80%;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.green-border-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
